//assets/style/sidebar.scss
@use 'variable' as *;

mat-sidenav {
  width: 280px !important;
  padding-top: 0px;
  background: var(--color-sidebar) !important;
  border-right: none !important;
}

.dark-sidebar {
  background: var(--color-sidebar) !important;
}